In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("donneÃÅes_azure.csv", sep=";")

In [9]:
df

,OPCO,Scope 1 (tCO2e),Scope 2 MB (tCO2e),Scope 2 LB (tCO2e),Scope 3 (tCO2e),Total LB (tCO2)
0,ABS (Axa Business Services),"0,000","0,000","0,005","0,011","0,016"
1,"AXA GO (incl. Tech, AGS, Shared)","0,668","0,973","63,622","80,090","144,380"
2,Direct Assurance,"0,019","0,000","1,792","2,198","4,010"
3,G9+6+3-Axa Assistance/Partners,"0,002","0,000","0,949","1,095","2,046"
4,G9+6+3-Axa IM,"0,261","0,000","21,225","25,921","47,408"
5,G9+6-Axa Mexico,"0,010","0,000","1,405","2,230","3,645"
6,G9+6-Axa Philippines,"0,007","1,398","2,759","2,267","5,034"
7,G9+6-Axa Thailand,"0,001","0,171","0,342","0,285","0,627"
8,G9+6-INM Brazil,"0,000","0,000","0,035","0,041","0,076"
9,G9-Axa Belgium,"1,061","0,000","24,733","35,356","61,151"
10,G9-Axa France,"0,518","0,003","69,622","84,263","154,402"
11,G9-Axa Germany,"0,006","0,000","2,442","2,824","5,273"
12,G9-Axa Hong Kong,"0,081","2,828","12,839","19,924","32,844"
13,G9-Axa Italy,"0,002","0,000","0,726","0,839","1,566"
14,G9-Axa Japan,"0,001","0,001","0,115","0,197","0,313"
15,G9-Axa Spain,"0,021","0,000","8,074","9,338","17,432"
16,G9-Axa Switzerland,"0,041","0,000","8,687","18,259","26,987"
17,G9-Axa UK&I,"2,329","0,000","83,789","111,046","197,163"
18,GIE,"0,000","0,000","0,002","0,004","0,005"
19,Others,"0,001","0,000","0,181","0,247","0,429"
20,TOTAL,"5,029","5,374","303,344","396,432","704,805"

In [26]:
df = df.drop(df.columns[-1], axis=1)
df = df.drop(df.index[-2:], axis=0)

In [27]:
df

,OPCO,Scope 1 (tCO2e),Scope 2 MB (tCO2e),Scope 2 LB (tCO2e)
0,ABS (Axa Business Services),"0,000","0,000","0,005"
1,"AXA GO (incl. Tech, AGS, Shared)","0,668","0,973","63,622"
2,Direct Assurance,"0,019","0,000","1,792"
3,G9+6+3-Axa Assistance/Partners,"0,002","0,000","0,949"
4,G9+6+3-Axa IM,"0,261","0,000","21,225"
5,G9+6-Axa Mexico,"0,010","0,000","1,405"
6,G9+6-Axa Philippines,"0,007","1,398","2,759"
7,G9+6-Axa Thailand,"0,001","0,171","0,342"
8,G9+6-INM Brazil,"0,000","0,000","0,035"
9,G9-Axa Belgium,"1,061","0,000","24,733"
10,G9-Axa France,"0,518","0,003","69,622"
11,G9-Axa Germany,"0,006","0,000","2,442"
12,G9-Axa Hong Kong,"0,081","2,828","12,839"
13,G9-Axa Italy,"0,002","0,000","0,726"
14,G9-Axa Japan,"0,001","0,001","0,115"
15,G9-Axa Spain,"0,021","0,000","8,074"
16,G9-Axa Switzerland,"0,041","0,000","8,687"
17,G9-Axa UK&I,"2,329","0,000","83,789"
18,GIE,"0,000","0,000","0,002"

In [30]:
# Cr√©er une nouvelle DataFrame pour le fichier transform√©
transformed_df = pd.DataFrame(columns=["Date - Year", "Date - Quarter", "Azure Service", "Scope", "Carbon emissions (tCO2e)"])

transformed_df = transformed_df.assign(**{'Date - Year': 2022})
transformed_df = transformed_df.assign(**{'Date - Quarter': "Q1"})


# Parcourir chaque ligne du DataFrame d'origine
for index, row in df.iterrows():
    
    # R√©cup√©rer le nom de l'OPCO
    azure_service = row["OPCO"]
    
    # R√©cup√©rer les noms des colonnes "Scope 1 (tCO2e)", "Scope 2 MB (tCO2e)", etc.
    scope_columns = df.columns[1:-1]
    
    # Parcourir les colonnes "Scope" et leurs valeurs
    for scope_column in scope_columns:
        scope_value = row[scope_column]
        
        # Cr√©er une nouvelle ligne pour chaque "Scope" avec les valeurs appropri√©es
        new_row = {
            "Date - Year": 2022,
            "Date - Quarter": "Q1",
            "Azure Service": azure_service,
            "Scope": scope_column,
            "Carbon emissions (tCO2e)": scope_value.replace(",", "."),  # Remplacer la virgule par un point pour les nombres d√©cimaux
        }

        transformed_df = pd.concat([transformed_df, pd.DataFrame([new_row])], ignore_index=True)


# Sauvegarder le fichier transform√© en CSV
#transformed_df.to_csv("chemin/vers/fichier_transforme.csv", index=False, sep="\t")

In [31]:
transformed_df

,Date - Year,Date - Quarter,Azure Service,Scope,Carbon emissions (tCO2e)
0,2022,Q1,ABS (Axa Business Services),Scope 1 (tCO2e),0.000
1,2022,Q1,ABS (Axa Business Services),Scope 2 MB (tCO2e),0.000
2,2022,Q1,"AXA GO (incl. Tech, AGS, Shared)",Scope 1 (tCO2e),0.668
3,2022,Q1,"AXA GO (incl. Tech, AGS, Shared)",Scope 2 MB (tCO2e),0.973
4,2022,Q1,Direct Assurance,Scope 1 (tCO2e),0.019
5,2022,Q1,Direct Assurance,Scope 2 MB (tCO2e),0.000
6,2022,Q1,G9+6+3-Axa Assistance/Partners,Scope 1 (tCO2e),0.002
7,2022,Q1,G9+6+3-Axa Assistance/Partners,Scope 2 MB (tCO2e),0.000
8,2022,Q1,G9+6+3-Axa IM,Scope 1 (tCO2e),0.261
9,2022,Q1,G9+6+3-Axa IM,Scope 2 MB (tCO2e),0.000
10,2022,Q1,G9+6-Axa Mexico,Scope 1 (tCO2e),0.010
11,2022,Q1,G9+6-Axa Mexico,Scope 2 MB (tCO2e),0.000
12,2022,Q1,G9+6-Axa Philippines,Scope 1 (tCO2e),0.007
13,2022,Q1,G9+6-Axa Philippines,Scope 2 MB (tCO2e),1.398
14,2022,Q1,G9+6-Axa Thailand,Scope 1 (tCO2e),0.001
15,2022,Q1,G9+6-Axa Thailand,Scope 2 MB (tCO2e),0.171
16,2022,Q1,G9+6-INM Brazil,Scope 1 (tCO2e),0.000
17,2022,Q1,G9+6-INM Brazil,Scope 2 MB (tCO2e),0.000
18,2022,Q1,G9-Axa Belgium,Scope 1 (tCO2e),1.061
19,2022,Q1,G9-Axa Belgium,Scope 2 MB (tCO2e),0.000
20,2022,Q1,G9-Axa France,Scope 1 (tCO2e),0.518
21,2022,Q1,G9-Axa France,Scope 2 MB (tCO2e),0.003
22,2022,Q1,G9-Axa Germany,Scope 1 (tCO2e),0.006
23,2022,Q1,G9-Axa Germany,Scope 2 MB (tCO2e),0.000
24,2022,Q1,G9-Axa Hong Kong,Scope 1 (tCO2e),0.081
25,2022,Q1,G9-Axa Hong Kong,Scope 2 MB (tCO2e),2.828
26,2022,Q1,G9-Axa Italy,Scope 1 (tCO2e),0.002
27,2022,Q1,G9-Axa Italy,Scope 2 MB (tCO2e),0.000
28,2022,Q1,G9-Axa Japan,Scope 1 (tCO2e),0.001
29,2022,Q1,G9-Axa Japan,Scope 2 MB (tCO2e),0.001
30,2022,Q1,G9-Axa Spain,Scope 1 (tCO2e),0.021
31,2022,Q1,G9-Axa Spain,Scope 2 MB (tCO2e),0.000
32,2022,Q1,G9-Axa Switzerland,Scope 1 (tCO2e),0.041
33,2022,Q1,G9-Axa Switzerland,Scope 2 MB (tCO2e),0.000
34,2022,Q1,G9-Axa UK&I,Scope 1 (tCO2e),2.329
35,2022,Q1,G9-Axa UK&I,Scope 2 MB (tCO2e),0.000
36,2022,Q1,GIE,Scope 1 (tCO2e),0.000
37,2022,Q1,GIE,Scope 2 MB (tCO2e),0.000